#contenedor {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  display: block;
  width: 46vw;
  text-align: center;
  border-collapse: collapse;
}

form {
  padding: 10px;
  width: 50vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.botones{
  background-color: rgb(132, 171, 243);
  color: rgb(255, 235, 205);
}
.botones:hover{
  background-color: pink;
}
form{
  background-color: rgb(238, 203, 209);
}


.respuesta {
  border: 5px double black;
  padding: 20px;
display: flex;
}